body,html {
	height: 100%;
	width: 100%;
}
body {
	background-image: url(../images/back.jpg);
	background-size: cover;
}
#content{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#logo{
	margin-left: 200px;
	height: 60px;
}
.title{
	font-family: "PingFangSC-Regular";
	font-size: 30px;
	line-height: 42px;
}

#login{
	width: 600px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
    border: 1px solid #E5E7EA;
    border-radius:5px;
    box-shadow: 10px 0 10px #E5E7EA; 
    background: #fff;
    position:relative;
    top:200px; 
    padding-top: 45px;
}

#login_background{
	width: 100%;
	height:94%;
	overflow: auto;
	background-position: 35% 0px;
	
}

#login input{
	height: 40px;
    margin: 0 auto;
    border: 0px;
    width: 338px;
    outline:medium;
}
.login_input{
	border-radius:5px;
    box-shadow: 0 0 30px #E5E7EA; 
    border: 1px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 368px;
	margin-top: 20px;
}

.login_button {
	border-radius:5px;
    box-shadow: 0 0 30px #E5E7EA; 
    border: 1px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 368px;
	background: #4c6073;
	margin-top: 30px;
}

.login_button input{
	height: 40px;
    margin: 0 auto;
    border: 0px;
    width: 338px;
    outline:medium;
    background: #4c6073;
    color: #fff;
}
